<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
                <a href="#" class="btn btn-success float-left"><i></i>Update Customer</a>
            </div>
            <div class="card-body">
                <form action="/updateCustomer/<%= customer._id%>" method="post">
           <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="col-form-label" for="firstname">First Name</label>
                    <input type="text" class="form-control" value="<%=customer.firstname%>" name="firstname" placeholder="Enter Firstname" id="firstname">
                </div>
            </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="col-form-label" for="lastname">Last Name</label>
                            <input type="text" class="form-control" value="<%=customer.lastname%>" name="lastname" placeholder="Enter Lastname" id="lastname">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="col-form-label" for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" value="<%=customer.phoneNumber%>" name="phoneNumber"  placeholder="Enter Phone Number" id="phoneNumber">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="col-form-label" for="cnic">CNIC</label>
                            <input type="text" class="form-control" value="<%=customer.cnic%>" name="cnic" placeholder="2222-222-22" id="cnic">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label  for="address">Address</label>
                            <input type="text" class="form-control" value="<%=customer.address%>" name="address" placeholder="Enter Address" id="address">
                                </div>

                        </div>
                    </div>
               <div class="">
   <button type="submit" class="btn btn-success">Update</button>
   <a href="/" class="btn btn-light">Cancel</a>
               </div>
                </form>
            </div>
        </div>